.frameChild {
  width: 599px;
  height: 461px;
  position: relative;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.id1bno9t01Icon {
  height: 79.2px;
  width: 100px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.idbNoTBox {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
}
.welcomeToBoardx {
  width: 270px;
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.idbNoTBoxParent {
  width: 293px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-6xs-8);
}
.frameItem {
  border: 1px solid var(--color-darkslategray);
  outline: 0;
  background-color: var(--color-black);
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  box-sizing: border-box;
  width: 497px;
  height: 40px;
  z-index: 1;
}
.email {
  position: absolute;
  top: 11px;
  left: 8px;
  font-size: var(--font-size-xl);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  width: 141px;
  height: 45px;
  z-index: 2;
}
.rectangleGroup {
  align-self: stretch;
  height: 56px;
  position: relative;
}
.frameInner {
  height: 40px;
  width: 497px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  display: none;
  max-width: 100%;
}
.password {
  width: 149px;
  border: 0;
  outline: 0;
  font-weight: 600;
  font-family: var(--font-inter);
  font-size: var(--font-size-xl);
  background-color: transparent;
  height: 32px;
  position: relative;
  color: var(--color-gray-100);
  text-align: left;
  display: inline-block;
  padding: 0;
  z-index: 2;
}
.rectangleContainer {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-black);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 497px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-5xs) 0;
  max-width: 100%;
  z-index: 1;
}
.icon {
  position: absolute;
  top: 0;
  left: 447px;
  width: 45px;
  height: 44px;
  object-fit: cover;
  z-index: 2;
}
.passwordInput {
  align-self: stretch;
  height: 44px;
  position: relative;
  max-width: 100%;
}
.forgotPswdLabelChild,
.frameParent {
  box-sizing: border-box;
  max-width: 100%;
}
.frameParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-10xs);
  gap: var(--gap-8xs);
}
.forgotPswdLabelChild {
  height: 40px;
  width: 497px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-deeppink);
  border: 1px solid var(--color-deeppink);
  display: none;
}
.logIn {
  height: 29px;
  width: 147px;
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 2;
}
.forgotPswdLabel,
.forgotPswdLabelWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.forgotPswdLabel {
  cursor: pointer;
  border: 1px solid var(--color-deeppink);
  padding: var(--padding-2xs) var(--padding-149xl) 0;
  background-color: var(--color-deeppink);
  flex: 1;
  border-radius: var(--br-3xs);
  justify-content: center;
  z-index: 1;
}
.forgotPswdLabel:hover {
  background-color: var(--color-hotpink);
  border: 1px solid var(--color-hotpink);
  box-sizing: border-box;
}
.forgotPswdLabelWrapper {
  align-self: stretch;
  justify-content: flex-start;
  padding: 0 0 var(--padding-8xs);
}
.forgotPassword {
  height: 29px;
  width: 141px;
  position: relative;
  font-size: var(--font-size-mid);
  font-weight: 600;
  font-family: var(--font-inter);
  color: var(--color-palevioletred);
  text-align: center;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.forgotPasswordWrapper,
.rectangleParent {
  width: 485px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  max-width: 100%;
}
.rectangleParent {
  margin: 0;
  height: 461px;
  width: 599px;
  border-radius: var(--br-mini);
  background-color: var(--color-gray-300);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-18xl) var(--padding-31xl) var(--padding-36xl);
  gap: var(--gap-7xl);
}
@media screen and (max-width: 600px) {
  .rectangleParent {
    padding-left: var(--padding-6xl);
    padding-right: var(--padding-6xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .email,
  .password,
  .welcomeToBoardx {
    font-size: var(--font-size-base);
  }
  .forgotPswdLabel {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .rectangleParent {
    padding-top: var(--padding-5xl);
    padding-bottom: var(--padding-17xl);
    box-sizing: border-box;
  }
}
